.offers {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  width: 70vw;
  background-color: rgba(250, 250, 250, 0.2);
}

.offers h3 {
  margin: 1rem 0 0 0;
}

.table {
  table-layout: auto;
  width: clamp(25rem, 65vw, 100%);
  font-weight: 400;
}
.table thead th {
  font-weight: 500;
}

.table tbody tr {
  border: rgba(250, 250, 250, 0.4);
}
.table td,
.table th {
  padding: 0.25rem;
}

.offer {
  background-color: rgba(250, 250, 250, 0.5);
}
